.body {
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.heading {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.description {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-left: 15vw;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85vw;
        margin-left: -5vw;
        height: 50vh;
    }


}